<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  {{>header}}
  <div class="container">
    <p>{{pageDescription}}</p>
  </div>
  {{>footer}}
</body>

</html>