<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/header.css" />
</head>
<body>
  <div class="header">
    {{#if wrongPage}}
    <h1>{{title}}</h1>
    {{else}}
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
    <h1>{{title}}</h1>
    {{/if}}
  </div>
</body>
</html>